/* 
========================
    FONTS
========================
*/

@font-face{
    src: local('ModernAntiqua-Book Display Typeface'), url(../fonts/ModernAntiqua-Book.ttf) format('opentype');
    font-family: 'ModernAntiqua-Book';
}

/* 
========================
    BASIC CSS
========================
*/

#root
{
    /* background-image:url('../../assets/collage.png');
    background-repeat: repeat;
    background-size: 110%;
    background-position: center top; */
    min-height: 100vh;
}

.container.mt-5{
    min-width: 60vw!important;
    padding: 0!important;

}

.background-container{
    position: relative;
    overflow: hidden;
    z-index: 9999 !important;
    min-height: 100vh;
}

.background-rotate{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:url('../../assets/collage.png');
    background-repeat: repeat;
    background-size: 100% auto;
    background-position: center top;
    min-height: 100vh;
    z-index: -1;
}


p{
    padding: 10px 20px;
}

h1{
    font-size: 8vw;
    color:aliceblue;
}

.home_panel{
    padding: 1rem;
    margin: auto;
    font-weight:400;
    font-size: 1.5rem;
    width: auto;
    text-align:left;
    align-self: center;
    align-items: center;
    border-radius: 1rem;
}

.home_panel p{
    font-family: Courier New;
}

.dashboard_panel {
    position: relative;
    display: block;
    align-self: center;
    align-items: center;
    min-height: 80vh;
    padding: 1rem;
    border-radius: 1rem;
}

.shop_panel {
    position: relative;
    display: block;
    align-self: center;
    align-items: center;
    min-height: 70vh;
    padding: 1rem;
    border-radius: 1rem;
}

#root, body, head{
    background-color:rgb(28, 28, 28)!important;
}

.container-fluid {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(22, 22, 22, 0.733)!important;
}

.container-fluid h1{
    width: 15vw;
}


.container-fluid h1 span.glitch-char {
    color: rgba(175, 175, 175, 0.479);
    font-size: 1rem;
    transform: scale(1.4);
    min-width: 100%;
    animation-name: glitchCharsShrink;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}


nav{
    background: linear-gradient(160deg, rgb(0, 0, 0), rgb(95, 95, 95));
}

.navbar{
    padding: 0!important;
    margin: 0!important;
}

.navbar li{
    padding: 0vw 1vw;
    font-size: 1.4rem;
}

.navbar .nav-item a{
    font-family: Courier New;
}

.navbar li a:hover{
    color:rgb(155, 155, 155)!important;
}

.navbar a:hover{
    color:rgb(155, 155, 155)!important;
    
}
.navbar-brand{
    font-size:3rem;
    padding:1vw;
}

.navbar-toggler{
    background-color: rgba(133, 133, 133, 0)!important;
    width: 15%;
}

.custom-navbar h1 {
    padding: 0.2rem;
    padding-left: 1%;
    padding-right: 1%;
    text-overflow: ellipsis;
    white-space: nowrap;
    /*overflow: hidden;*/
    max-width: 80%;
    text-align:center;
    display: block;
    margin: auto;
}

.custom-navbar h1 span{
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.5rem;
    line-height: 3rem;
    /*overflow: hidden;*/
    max-width: 80%;
    text-align:center;
    margin: auto;
}

#navbarNav ul {
    position: absolute;
    left:36vw;
    width: 40vw;
}

#navbarNav ul li{
    padding: 0vw 1vw;
    font-size: 1.4rem;
}

#logout{
    position: absolute;
    right: 2%;
}

#logout a{
    color: rgb(255, 166, 166)!important;
}

p, a, h1, h2, h3{
    color:white;
    font-family: Courier New;
}

#navbarNav ul li a {
    color: white;
}

h1, h2, h3{
    text-shadow: 0.2rem 0.2rem 0.1rem #000000;
}

.container.mt-5 h1{
    font-weight: 800;
    font-size: 4rem;
    word-wrap: break-word;
}


/*
DROPDOWN
*/

a.dropdown-item{
    font-size: 1.3rem;
    font-family: Courier New;
    min-height: 2.4rem;
    padding: 0;
    width: 13.5vw;
}

.dropdown-item button{
    position: relative!important;
    display: inline-block!important;
    height: 100%!important;
    width: 100%!important;
    margin: 0 !important;
    padding: 0 !important;
}

.dropdown.storebutton{
    position: absolute;
    width: 100%;
    margin: auto;
    padding: auto;
    top: 84%;
    left: 2%;
}

.dropdown.storebutton button{
    display:inline-block;
    margin:8%;
    position: absolute;
}

div.dropdown-menu.show{
    background-color:rgb(24, 24, 24)
}


.dropdown.cartbutton{
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
}

/* the little pen button in the Cart Page */
.dropdown.cartbutton button{
    display:inline-block;
    margin: 1rem 0;
    background-color: rgb(63, 63, 63)!important;
    padding: 0.5rem 2rem;
    border-width: 0.1rem;
}

/* 
========================
      BUTTON - REMOVE FROM CART
========================
*/


.remove-from-cart-button {
    line-height: 2.5rem;
    text-align: center;
    cursor: pointer;
    color: #FFF;
    background-color:rgb(15, 15, 15);
}



.form-label{
    color: white;
}

.dashboard_panel .user_data_item{
    font-family: Courier New;
    font-size: 1.5vw;
    display:block;
    color:white;
    padding: 2rem;
    background: linear-gradient(160deg, rgba(0, 0, 0, 0.822), rgba(51, 51, 51, 0.747));
    backdrop-filter: blur(10px);
    margin: 1rem;
    border-radius: 0.5rem;
    box-shadow:rgb(15, 15, 15) 0.5rem 0.5rem 0.5rem;
}

.home_panel .info-item, .dashboard_panel .info-item{
    display:block;
    color:white;
    padding: 2rem;
    background: linear-gradient(160deg, rgba(0, 0, 0, 0.822), rgba(51, 51, 51, 0.747));
    backdrop-filter: blur(10px);
    margin: 1rem;
    margin-bottom: 3rem;
    border-radius: 0.5rem;
    box-shadow:rgb(15, 15, 15) 0.5rem 0.5rem 0.5rem;
    word-wrap: break-word;
}
.home_panel .info-item p, .dashboard_panel .info-item p{
    font-family: Courier New;
    font-size: 1.3rem;
    margin: 0;
    line-height: 1.3rem;
}

a.link-to-merch{
    color: white;
    font-size: 4rem;
    padding: 1rem;
    text-decoration: underline;
}

a.link-to-merch:hover{
    transition: 0.2s;
    color: rgb(255, 202, 27)!important;
}


.shop_item {
    font-family: Courier New;
    font-size: 1rem;
    display: inline-block;
    color: white;
    padding: 1rem;
    background: linear-gradient(0deg, rgb(0, 0, 0), rgba(44, 43, 38, 0.788),  rgba(0, 0, 0, 0.952));
    /* backdrop-filter: blur(10px); */
    /* REMOVED because blur causes dropdown menus to not appear in front of other
    elements!!! */
    margin: 1% 1.5%;
    border-radius: 0.5rem;
    min-height: 40vh;
    height: 550px;
    width: 30%;
    vertical-align: top;
    position: relative;
}

.shop_item p {
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

.shop_item h2{
    font-family: Courier New;
    font-weight: 600;
}

.shop_item .shop_item_image_container{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}


.shop_item img{
    width:100%;
    min-height: 240px;
    max-height: 260px;
    border-radius: 0.5rem;
    display:block;
    /* object-fit can have the following parameters: */
    /* fill, contain, cover, none, scale-down */
    object-fit: contain;
}

/* Add to Cart Button in Shop */
.shop_item button {
    font-size: 1.5rem;
    padding: 0;
    margin: 5% 1rem 1rem 5%;
    border-radius: 0.2rem;
    width: 80%;
    bottom: 0;
    vertical-align: bottom;
    position: absolute;
}


/* Size Dropdown Menu in Shop */
.shop_item button.btn.btn-secondary.dropdown-toggle {
    font-size: 1.5rem;
    margin: 15% 0 0 1%;
    border-radius: 0.2rem;
    width: 100%;
    position: relative;
}

#dropdown-basic{
    border-radius: 2rem;
    background: linear-gradient(160deg, rgba(0, 0, 0, 0.822), rgba(29, 23, 15, 0.822), rgb(14, 14, 14));
    border-color: white;
    transition: 0.1s;
}

#dropdown-basic:hover{
    transform: scaleX(1.01)!important;
    transition: transform 0.1s ease-in-out!important;
}

.dropdown.storebutton.collapseOnSelect button{
    border-radius: 2rem;
    transition: transform 0.1s ease-in-out!important;
}

.dropdown.storebutton.collapseOnSelect button:hover{
    border-radius: 2rem!important;
    background: white;
    overflow: hidden;
    border: 0.1rem solid white;
    border-color: transparent;
    transition: transform 0.1s ease-in-out!important;
    transform: scaleX(1.02);
}

a.dropdown-item, a.dropdown-item:hover{
    background-color: rgba(255, 255, 255, 0);
    border-color: transparent;
}





/* CART ITEMS */

.email_display{
    background: linear-gradient(160deg, rgb(41, 41, 41), rgba(0, 0, 0, 0.932));
    width: 50%;
    display: block;
    margin: 0;
    margin-bottom: 0.75rem;
    word-wrap: break-word;
    border-radius: 0.25rem;
    text-align: center;
}

.cart_item {
    width: 50%;
    border:rgb(255, 255, 255);
    border-radius: 1rem;
    background: linear-gradient(160deg, rgba(0, 0, 0, 0.932), rgba(41, 41, 41, 0.849));
    padding: 1.5rem 1rem;
    margin: 1rem;
    box-shadow:rgb(15, 15, 15) 0.5rem 0.5rem 0.5rem;
    display: block;
    position: relative;
}
.cart_item img{
    width:35%;
    max-height: 170px;
    border-radius: 0.5rem;
    display:block;
    object-fit: contain;
    float: left;
    padding: 1rem;
}

.cart_item p{
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
    padding: 0;
}

.cart_item h2{
    font-size: 1.5rem;
    padding: 0;
    margin: 2rem;
    padding: 0;
}

#dropdown-basic-cart{
    border:rgb(15, 15, 15);
}

.checkout-button{
    display: inline-block;
    width: 50%;
    /* Additional styles to make it look like a button */
    padding: 10px;
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem auto;
    background: linear-gradient(45deg, #009245, #a4e786);
    background-size: 200% 200%;
    border: 2px solid #008000;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    transition: background-position 0.5s, color 0.25s;
    position: relative;
    box-shadow:rgb(15, 15, 15) 0.5rem 0.5rem 0.5rem;
}

.checkout-button-top{
    display: inline-block;
    width: 50%;
    /* Additional styles to make it look like a button */
    padding: 10px;
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem auto;
    background: linear-gradient(45deg, #009245, #a4e786);
    background-size: 200% 200%;
    border: 2px solid #008000;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    transition: background-position 0.5s, color 0.25s;
    position: relative;
    overflow: hidden;
    box-shadow:rgb(15, 15, 15) 0.5rem 0.5rem 0.5rem;
}

.checkout-button-top:before, .checkout-button:before {
    content: "";
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5));
    background-size: 200% 200%;
    transition: background-position 1s;
    overflow: hidden;
}

.checkout-button-top:hover, .checkout-button:hover {
    background-position: -100% -100%;
    color: #000;
    overflow: hidden;
}


.checkout-button-top:hover:before, .checkout-button:hover:before {
    background-position: 100% 100%;
}

/* bottom */
.total-price {
    display: block;
    font-family: Courier New;
    text-align: center;
    padding: 10px 20px;
    width: 50%;
    background: linear-gradient(160deg, rgba(0, 0, 0, 0.932), rgba(41, 41, 41, 0.849));
    /* backdrop-filter: blur(10px); */
    /* REMOVED because blur causes dropdown menus to not appear in front of other
    elements!!! */
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    line-height: 3rem;
    min-height: 3rem;
    text-decoration: none;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    transition: background 0.5s, color 0.5s;
    box-shadow:rgb(15, 15, 15) 0.5rem 0.5rem 0.5rem;
}

@keyframes gradient {
    0% { background-position: 100% 0%; }
    100% { background-position: 0% 100%; }
}

.total-price.top{
    font-size: 2rem;
    top: 14rem;
    left: 18rem;
    padding: 0;
    margin: 0 2rem 0 0;
    line-height: 3rem;
    min-height: 3rem;
    background-color: transparent;
    box-shadow: none;
    text-align: center;
    width: 50%;
    position: absolute;
    color: white;
}

.shop_item .store-price{
    margin-bottom: 100px;
    margin-top: 30px;
    font-size: clamp(1.5rem, 1vw, 3rem);
    vertical-align: bottom;
    text-align: center;
    bottom: -7%;
    left: 0%;
    width: 100%;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
}

.out_of_stock_item {
    font-family: Courier New;
    font-size: 1rem;
    display: inline-block;
    color: white;
    padding: 1rem;
    background: linear-gradient(160deg, rgba(0, 0, 0, 0.932), rgba(56, 9, 9, 0.979));
    margin: 2% 1%;
    border-radius: 0.5rem;
    width: 50%;
    vertical-align: top;
    position: relative;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.out_of_stock_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

/* 
========================
    Misc
========================
*/

#dev-help-link{
    color:rgb(95, 255, 95)!important;
}

#order-success{
    color:rgb(95, 255, 95)!important;
}

#green-highlight{
    display: inline;
    color:rgb(95, 255, 95)!important;
}

.info-item-link{
    text-decoration: underline;
}

form{
    max-width: 70vw;
    margin: auto;
}

label.form-label{
    font-size: 1.5rem;
    font-family: Courier New;
    font-weight: bold;
    margin: 1rem 0;
    display: block;
}

/*
========================
    Beautiful Home Page!
========================
*/

.home_page_panel{
    margin: auto;
    padding: 0;
    font-size: 5vw;
}

.home_page_panel .display-item{
    position: relative;
    display: flex;
    width: 98%;
    margin: 2rem 1%;
    padding: 2rem 2rem 5rem 5rem;
    border-radius: 0;
    box-shadow:rgb(15, 15, 15) 0.5rem 0.5rem 0.5rem;
    background: linear-gradient(160deg, rgba(0, 0, 0, 0.952), rgba(19, 20, 19, 0.932), rgba(0, 0, 0, 0.952));
    z-index: 1;

    /* inner glow: */
    /* box-shadow: inset 0rem -0.2rem 0.3rem rgb(255, 255, 255), 0 0 10px rgb(14, 9, 9); */
}

.home_page_panel .display-item:before,
.home_page_panel .display-item:after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    z-index: -1;
}

.home_page_panel .display-item:before {
    top: 0;
    border-top: 2px solid rgba(0, 81, 255, 0.815);
}

.home_page_panel .display-item:after {
    bottom: 0;
    border-bottom: 2px solid rgba(0, 81, 255, 0.815);
}


.home_page_panel .display-item .left{
    display: flex;
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 0;
    flex-direction: column; /* This places the image and the title on top of each other */
    align-items: center; /* This aligns the items to the left */
    justify-content: center; /* This aligns the items to the top */
}

.home_page_panel .display-item .left img{
    width: 100%;
    height: 100%;
    border-radius: 0.1rem;
    display: flex;
    box-shadow: 0 0 20px 5px rgb(255, 0, 0);
    animation: glowing_red_1 1s infinite;
    transition:  1s;
}

.home_page_panel .display-item .left img:hover{
    transition: 0.2s;
    transform: scale(1.025);
}

.home_page_panel .display-item .right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
}

.home_page_panel .display-item .left h1,
.home_page_panel .display-item .left p,
.home_page_panel .display-item .right h2,
.home_page_panel .display-item .right p{
    color: white;
    text-shadow: none;
    text-align: center;
}


.home_page_panel .display-item .left h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 4.5rem;
    font-weight: bold;
    margin: 0rem 0rem 1.5rem;
    text-align: center;
    color: #ff0000!important;
}

.home_page_panel .display-item .right h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5rem;
    margin: 1rem 0;
    color: rgba(255, 84, 84, 0.945)!important;
}

.home_page_panel .display-item .right p,
.home_page_panel .display-item .left p
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0rem 0;
    line-height: 2rem;
    color: #fff;
}

/* Add styles for button here */

.home_page_panel .display-item .right .cta-button{
    display: inline-block;
    width: 100%;
    height: 8rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    white-space: nowrap;
    color: #fff;
    border: none;
    border-radius: 4rem;
    cursor: pointer;
    text-decoration: none;
    background: linear-gradient(160deg, rgba(89, 0, 255, 0.9), rgba(0, 81, 255, 0.9));
    box-shadow: 0 0 20px 5px rgba(255, 0, 0, 0.274);
    animation: glowing_yellow_1 2.5s infinite;
    /* box-shadow: 0px 5px 15px rgba(0,0,0,0.2); */
    transition: all 0.3s ease;
    position: relative; /* added */
    z-index: 0; /* added */
    overflow: hidden; /* added */
}

.home_page_panel .display-item .right .cta-button:hover{
    transform: scale(1.01);
    box-shadow: 0px 5px 15px rgba(0,0,0,0.4);
}

.home_page_panel .display-item .right .cta-button:active{
    transform: translateY(1px);
    box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
}

.home_page_panel .display-item .right .cta-button::before {
    content: '';
    position: absolute;
    left: -200%;
    width: 300%;
    height: 300%;
    background: linear-gradient( rgba(253, 253, 253, 0), rgba(255, 255, 255, 0.233), rgba(255, 255, 255, 0));
    transform: rotateZ(45deg) translate(0, 0em);
    transition: all 0.3s;
    pointer-events: none;
}

.home_page_panel .display-item .right .cta-button:hover::before {
    left: 200%;
    transform: rotateZ(45deg) translate(0, 0);
}



.home_page_panel .info-item {
    display:block;
    color:white;
    padding: 2rem;
    background: linear-gradient(160deg, rgba(0, 0, 0, 0.822), rgba(51, 51, 51, 0.747));
    backdrop-filter: blur(10px);
    margin: 1rem;
    margin-bottom: 3rem;
    border-radius: 0.5rem;
    box-shadow:rgb(15, 15, 15) 0.5rem 0.5rem 0.5rem;
    word-wrap: break-word;
}
.home_page_panel .info-item p{
    font-family: Courier New;
    font-size: 1.3rem;
    margin: 0;
    line-height: 1.3rem;
}

/* home page youtube videos: */

.home_page_panel .youtube-embed-container{
    display: block;
    position: relative;
    min-height: 700px;
    width: 97%;
    overflow: hidden;
    box-shadow:rgb(15, 15, 15) 0.5rem 0.5rem 0.5rem;
    margin: 1.5rem auto;
    padding: 1rem;
    border-radius: 1rem;
    background: linear-gradient(160deg, rgba(0, 0, 0, 0.822), rgba(51, 51, 51, 0.747));
    backdrop-filter: blur(10px);
}

/* social media slice */

.social-media-slice {
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(160deg, rgba(0, 0, 0, 0.822), rgba(51, 51, 51, 0.747));
    border-radius: 1.5rem;
    padding: 1rem;
    width: 97%;
    margin: 2rem auto;
    min-height: 250px;
    height: auto;
    box-shadow:rgb(15, 15, 15) 0.5rem 0.5rem 0.5rem;
    backdrop-filter: blur(10px);
  }
  
  .social-media-slice.single-item {
    justify-content: center;
  }
  
  .social-media-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    margin: auto;
  }

.social-media-box img {
    width: 30%;
    transition: 2.5s ease-in-out all; 
}

a.social-media-box:hover{
    transition: 0.5s ease-in-out all;
}

.social-media-box img:hover{
    transform: scale(1.01) rotate(360deg);
    transition: 0.5s ease-in-out all; 
}
  
  .box-title {
    font-family: 'Courier New', monospace;
    margin-bottom: 1rem;
  }
  
  .box-icon {
    width: 50%;
    height: auto;
    opacity: 0.95;
    background: none;
  }

  .box-icon:hover{
    box-shadow: none;
    background: none;
  }





/*
========================
    Toast Notifications
========================
*/

.toast-success {
    visibility: hidden;
    width: 100%;
    max-width: 550px;
    background: #1a1a1a;
    color: white;
    border: 2px solid #68fa43;
    border-radius: 5px;
    padding: 15px;
    font-weight: bold;
    font-size: 1.6rem;
    text-align: center;


    position: fixed!important;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 30px;
    z-index: 9999;

}

.toast-success.show{
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
    position: fixed!important;
}

.toast-error {
    visibility: hidden;
    width: 100%;
    max-width: 550px;
    background: #361e1e;
    border: 2px solid #ff0000;
    border-radius: 5px;
    padding: 15px;
    font-weight: bold;
    font-size: 1.6rem;
    color: white;
    text-align: center;


    position: fixed!important;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 30px;
    z-index: 9999;

}

.toast-error.show{
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
    animation: fadein 0.5s, fadeout 0.5s 3.5s;
}

/* 
========================
      BUTTON ONE (Add to Cart)
========================
*/

.btn {
    line-height: 80px;
    text-align: center;
    cursor: pointer;
  }

.btn-one {
    color: white;
    transition: all 0.3s;
    position: relative;
  }

  .btn-one-text {
    z-index: 2; /* This places the button text above the overlay text */
    position: absolute;
    color: white;
    opacity: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }


  .btn-one::after {
    content: 'Add To Cart';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.1s;
    background: linear-gradient(160deg, rgba(0, 22, 133, 0.98),rgba(0, 79, 124, 0.98));
    color: #ffffff;
    border-radius: 2rem;
    font-weight: bold;
  }
  .btn-one:hover::after {
    opacity: 1; 
    transform: scale(1.02, 1);
  }


/* LOGIN AND REGISTER BUTTONS*/

form.mt-5{
    display: block;
    background: linear-gradient(160deg, rgba(12, 8, 4, 0.966), rgba(70, 57, 13, 0.945));
    width: 100%;
    padding: 3rem;
    border-radius: 1.5rem;
}

form.mt-5 .btn.btn-primary.mt-4 {
    background: linear-gradient(160deg, rgba(0, 42, 252, 0.98),rgba(0, 162, 255, 0.98)) !important;
    border: none !important;
    color: rgb(255, 255, 255) !important;
    width: 25% !important;
    height: 5rem;
    margin-left: 0;
    margin-right: 0%;
    font-family: Courier New;
    font-weight:600;
    font-size: clamp(1.2rem, 2vw, 1.75rem);
    letter-spacing: 0.11rem;
    transition: transform .2s ease-in-out, box-shadow .2s ease-in-out;
    position: relative;
    overflow: hidden;
    border-radius: 4rem;
}

form.mt-5 .btn.btn-primary.mt-4:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 500%;
    height: 100%;
    background: linear-gradient(160deg, rgba(255, 255, 255, 0), rgba(248, 248, 248, 0.425), rgba(255, 255, 255, 0)) !important;
    transform: skewX(-20deg) translateX(-150%);
    transition: transform 0.5s ease-in-out;
}

form.mt-5 .btn.btn-primary.mt-4:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

form.mt-5 .btn.btn-primary.mt-4:hover:before {
    transform: skewX(-20deg) translateX(150%);
}

form.mt-5 .btn.btn-primary.mt-4:active {
    transform: scale(0.98);
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

div.container.mt-5 form label{
    text-shadow: 0 2 5px rgb(0, 0, 0);
    text-decoration: underline;
}

/* Home Page ETC: */

/* Image Loader */

.image-gallery{
    width: 97%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(160deg, rgba(119, 113, 85, 0.781), rgba(15, 41, 31, 0.781), rgba(17, 12, 8, 0.781));
    box-shadow: inset 0 0 2rem rgba(0, 0, 0, 0.534);
    margin: 0 auto;
    border-radius: 0.2rem;
    padding: 1rem;
    backdrop-filter: blur(10px);

}

.image-gallery img {
    flex: 1 0 calc(33.33% - 20px);
    margin: 10px;
    max-width: calc(33.33% - 20px);
    height: auto;
    border-radius: 0.5rem;
    overflow: hidden;
    object-fit: cover;
    opacity: 0.5;
    transition: 0.5s ease-out all;
}

.image-gallery img:hover{
    transition: 0.1s;
    transform: scale(1.05);
    opacity: 1;
}

.image-gallery p {
    width: 100%;
    text-align: left;
    display: block;
    font-size: clamp(1rem, 1.2vw, 1.75rem);
    font-size: clamp(1rem, 1vw, 1.5rem);
}

.image-gallery h3 {
    color: white!important;
    text-shadow: none;
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
}

img.image-loader img {
    border-radius: 1rem;
    overflow: hidden;
}

img.image-loader.loaded {
    opacity: 0.8;
    visibility: visible;
}

img.image-loader.loaded:hover {
    opacity: 1;
    transition: 0.1s;
    transform: scale(1.05);
    border-radius: 0;
    transition: 0.5s ease-out all;
}

/* Merch Home Banner */

.home_page_panel .merch-home-banner{
    display:block;
    color:white;
    padding: 2rem;
    background: linear-gradient(160deg, rgba(107, 92, 50, 0.822), rgba(20, 12, 12, 0.856));
    backdrop-filter: blur(10px);
    margin: 1rem;
    margin-bottom: 3rem;
    border-radius: 0.5rem;
    box-shadow:rgb(15, 15, 15) 0.5rem 0.5rem 0.5rem;
    word-wrap: break-word;
}


/* 
========================
    ANIMATIONS
========================
*/


@keyframes fadein{
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeout{
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(20px);
        opacity: 0;
    }
}

@keyframes glowing_red_1 {
    0% {
        box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.6); /* Dark shadow */
    }
    50% {
        box-shadow: 0 0 5px 5px rgba(37, 10, 10, 0.726); /* Red shadow */
    }
    100% {
        box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.6); /* Dark shadow */
    }
}

@keyframes glowing_red_1_offset {
    0% {
        box-shadow: 0 0 20px 5px rgba(255, 0, 0, 0.308); /* Red shadow */
    }
    49% {
        box-shadow: 0 0 20px 5px rgba(255, 0, 0, 0.308); /* Red shadow */
    }
    50% {
        box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.6); /* Dark shadow */
    }
    99% {
        box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.6); /* Dark shadow */
    }
    100% {
        box-shadow: 0 0 20px 5px rgba(255, 0, 0, 0.308); /* Red shadow */
    }
}

@keyframes glowing_yellow_1 {
    0% {
        box-shadow: 0 0 3px 2px rgba(255, 255, 255, 0.6); /* Dark shadow */
    }
    25% {
        box-shadow: 0 0 3px 0.5px rgba(189, 123, 0, 0.308); /* Red shadow */
    }
    100% {
        box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.6); /* Dark shadow */
    }
}

@keyframes glitchCharsShrink{
    0%{
        letter-spacing: 1px;
    }
    25%{
        letter-spacing: 1px;
    }
    50%{
        letter-spacing: -9.25px;
        color:#00000000;
    }
    75%{
        letter-spacing: -9.25px;
        color:#00000000;
    }
    100%{
        letter-spacing: 1px;
    }
}



/* 
========================
    RESPONSIVE DESIGN
========================
*/


@media (max-width: 991px){

    #root
    {
    min-height: 100vh;
    }

    .background-container{
        position: relative;
        overflow: hidden;
        min-height: 100vh;
    }

    .background-rotate{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-image:url('../../assets/collage_vertical.png');
        background-repeat: repeat;
        background-size: 110%;
        background-position: center top;
        transform: rotate(0);
        min-height: 100vh;
        z-index: -1;
    }

    



    nav.navbar.navbar-expand-lg.bg-dark{
        max-width: 100vw;
    }

    .navbar-toggler{
        margin: 1rem;
        background-color: rgba(0, 0, 0, 0);
    }

    .navbar-toggler svg{
        width: 2rem;
    }

    ul.navbar-nav li.nav-item a{
        font-size: 2rem;
        margin-left: 10%;
        line-height: 2.5rem;
    }

    #logout{
        position: relative;
    }


    .container.mt-5 h1 {
        text-align: center;
        font-weight: 800;
        font-size: 3.5rem;
    }

    /* login and register buttons */

    form.mt-5{
        width: 100%;
        padding: 1rem;
        max-width: 95vw;
    }

    form.mt-5 .btn.btn-primary.mt-4 {
        margin-left: 20%;
        width: 60%!important;
        margin-right: 25%;
        font-size: 1.5rem;
        height: 3.5rem;
    }

    .shop_item {
        min-height:22rem;
        height: auto;
        width: 98%;
        display: block;
        margin: 1rem auto 1rem auto;
        border-radius: 0;
        background-color: rgb(15, 15, 15);
    }

    .shop_item .shop_item_image_container{
        position: relative;
        padding: 1rem;
    }

    .shop_item img {
        position: relative;
        display: block;
        max-width: 90%;
        min-height: 10rem;
        margin: auto;
        left: 0;
    }

    .shop_item #dropdown-basic{
        font-size: 1.5rem;
        padding: 0!important;
        margin: auto;
        display: block;
        position: relative;
        border-radius: 2rem;
        width: 80%;
    }

    #dropdown-basic{
        position: relative;
        border-radius: 2rem;
        background-color:rgb(15, 15, 15);
        border-color: white;
    }

    .dropdown.storebutton{
        position: relative;
        left: 0;
        margin: auto;
        margin-bottom: 0.5rem;
    }

   .shop_panel .dropdown.storebutton.collapseOnSelect{
    position: relative;
   }


    a.dropdown-item{
        width: 75vw;
        margin: auto;
        position: relative;

    }


    .shop_item .store-price{
        font-size: 2rem;
        text-align: center;
        width: 100%;
        margin: auto;
        position: relative;
        display: block;
        min-height: 3rem;
    }


    /* add to cart button */
    .btn.btn-one{
        position: relative;
        display: block;
        margin: auto;
        width: 80vw;
        min-height: 3rem;
        font-size: 2rem;
    }

    .dashboard_panel{
        max-width: 100vw;
        margin: 0;
        padding: 0rem;
        border-radius: 1rem;
    }

    .shop_panel{
        max-width: 100vw;
        margin: 0;
        padding: 0rem;
        border-radius: 1rem;
    }

    .home_panel{
        width: 100vw;
        margin: auto;
        padding: 0;
        font-size: 5vw;
    }

    .container.mt-5{
        max-width: 100vw;
        margin: auto;
        padding: 0;

    }

    button.navbar-toggler{
        background-color: rgba(255, 255, 255, 0);
    }

    #navbarNav ul {
        position: absolute;
        left: 0vw;
        width: 100vw;
    }



    /* SHOPPING CART */

    .total-price{
        display:block;
        width: 75%;
        margin: 1rem auto;
        min-height: 4rem;
    }

    .checkout-button-top{
        display: block;
        width: 75%;
        /* Additional styles to make it look like a button */
        padding: 10px;
        background-color: #171d68;
        text-align: center;
        text-decoration: none;
        color: black;
        margin: 0 auto;
    }

    .checkout-button{
        display: block;
        width: 75%;
        /* Additional styles to make it look like a button */
        padding: 10px;
        background-color: #171d68;
        text-align: center;
        text-decoration: none;
        color: black;
        margin: 0 auto;
        margin-bottom: 2rem;

    }

    .checkout-button::hover, .checkout-button-top::hover{
        background-color: #080a2b;
        color: white;
    }

    .email_display{
        background: linear-gradient(160deg, rgb(41, 41, 41), rgba(0, 0, 0, 0.932));

        width: 75%;
        display: block;
        
        margin: auto;
        word-wrap: break-word;
        border-radius: 0.25rem;
        text-align: center;
    }


    .cart_item{
        width: 100%;
        margin: 1rem auto;
        padding: 0.5rem 1rem;
        padding-bottom: 2rem;

    }

    .dashboard_panel .user_data_item{
        font-size: 1.5rem;
        word-wrap: break-word;
    }

    .home_panel .info-item{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        border-radius: 0;
    }

    .dashboard_panel .info-item{
        font-size: 1rem;
        word-wrap: break-word;
        line-height: 0.8rem;
        min-height: 15rem;
        width: 100%;
    }

    .dashboard_panel .info-item p{
        font-size: 1rem;
        word-wrap: break-word;
        line-height: 1.5rem;
    }

    .home_page_panel .info-item{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        border-radius: 0;
    }

    .info-item h2{
        font-size: 1.5rem;
        word-wrap: break-word;
        line-height: 1.5rem;
        font-weight: 600;
        text-align: center;
    }


    .out_of_stock_item {
        font-family: Courier New;
        font-size: 0.75rem;
        display: block;
        color: white;
        padding: 1rem;
        background: linear-gradient(170deg, rgba(0, 0, 0, 0.932), rgba(59, 12, 12, 0.979));
        margin: 2% auto;
        border-radius: 0.5rem;
        width: 100%;
        position: relative;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        min-height: 20rem;
    }

    .out_of_stock_item h2, .out_of_stock_item p{
        font-size: 1rem!important;
        line-height: 1rem!important;
    }
    
    .out_of_stock_item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.5rem;
    }
    

    /*
    HOMEPAGE
    */

    .home_page_panel{
        display: block;
        margin: auto;
        padding: 0;
    }

    .home_page_panel .display-item{
        width: 100%;
        overflow: hidden;
        display: block;
        margin: auto;
        padding: 0;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-bottom: 2rem;
        border-radius: 0;
    }

    .home_page_panel .display-item .left{
        width: 90%;
        height: 100%;
        display: block;
        margin: auto;
        padding: 0;
        border-radius: 0.5rem;
    }

    .home_page_panel .display-item .left img{
        width: 100%;
        margin: 0;
        margin-bottom: 2rem;
        padding: 0;
    }

    .home_page_panel .display-item .right{
        width: 100%;
        height: 100%;
        display: block;
        margin: auto;
        padding: 0;
        border-radius: 0.5rem;
    }



    .home_page_panel .display-item .right p,
    .home_page_panel .display-item .left p{
        font-size: clamp(16px, 3vw, 20px);
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
        line-height: 1rem;
    }





    .home_page_panel .display-item .left h1{
        font-size: clamp(16px, 20vw, 50px);
    }

    .home_page_panel .display-item .right h2{
        font-size: clamp(12px, 15vw, 26px);
        color: rgb(110, 139, 182)!important;
        letter-spacing: clamp(0.1rem, 1vw, 0.5rem);
        margin: 0;
        padding: 0;
    }

    .home_page_panel .display-item .right .cta-button{
        display: block;
        width: 90%;
        height: 5rem;
        border-radius: 4rem;
        margin: auto;
        font-size: clamp(12px, 5vw, 5vw);
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    form{
        max-width: 80vw;
        margin: auto;
    }



    /* NAVBAR */

    .custom-navbar {
        display: flex;
        justify-content: space-between;
    }
    
    .custom-navbar .navbar-brand {
        order: 1;
        flex-grow: 1;
    }
    
    .custom-navbar .navbar-toggler {
        order: 2;
    }
    
    .custom-navbar h1 {
        padding: 0.2rem;
        padding-left: 1%;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 2rem;
        /*overflow: hidden;*/
        max-width: 80%;
        text-align:center;
        display: block;
        margin: auto;
    }

    .custom-navbar h1 span{
        font-size: 1.4rem;
        font-weight: 400;
    }

    .navbar-toggler {
        order: 1;
      }
      
      .navbar h1 {
        order: 2;
        flex-grow: 1;
      }
      
      .navbar .navbar-collapse {
        flex-grow: 0;
      }
      
      .navbar .navbar-nav-wrapper {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #333; /* Your navbar background color here */
        width: 0;
        overflow-x: hidden;
        transition: width .5s;
      }
      
      .navbar.show .navbar-nav-wrapper {
        width: 75%; /* Or whatever width you want the navbar to be */
      }
      
    .navbar .navbar-nav {
        width: 100%;
    }

    

    #navbarNav ul {
        text-align: right;
        position: relative;
        padding-right: 1rem;
    }


    /* toasts */

    .toast-success, .toast-error{
        width: 90%;
        margin: auto;
        font-size: 1.5rem;
    }

    /* youtube embeds */

    .home_page_panel .youtube-embed-container{
        display: block;
        min-height: 350px;
        width: 100%;
        overflow: hidden;
        border-radius: 0;
    }

    .home_page_panel .youtube-embed-container h2{
        font-size: clamp(12px, 15vw, 22px);
    }

    .social-media-slice {
        padding: 1rem;
        width: 100%;
        border-radius: 0;
        min-height: 150px;
        
      }

      .social-media-slice h2{
        font-size: clamp(12px, 15vw, 20px);
      }
      

      /* image g*llery */

      .image-gallery {
        padding: 0.2rem;
      }

      .image-gallery img {
        flex: 1 0 calc(50% - 20px);
        margin: 5px;
        max-width: calc(50% - 20px);
        height: auto;
        border-radius: 0.2rem;
        overflow: hidden;
        object-fit: cover;
        opacity: 0.5;
        transition: 0.1s;
    }

    .image-gallery img:hover{
        transition: 0.1s;
        transform: scale(1.5);
        opacity: 1;
    }

    img.image-loader.loaded:hover {
        opacity: 1;
        transition: 0.1s;
        transform: scale(1.30);
        border-radius: 0;
        transition: 0.1s;
        z-index: 99;
    }

      
      

}

/* 
========================
    END
========================
*/

