/* 
========================
    FONTS
========================
*/

@font-face{
    src: local('ModernAntiqua-Book Display Typeface'), url(../fonts/ModernAntiqua-Book.ttf) format('opentype');
    font-family: 'ModernAntiqua-Book';
}

/* 
========================
    BASIC CSS
========================
*/

#root
{
    background-image:url('../../assets/collage.png');
    background-repeat: repeat;
    background-size: 110%;
    background-position: center top;
    min-height: 100vh;
}


p{
    padding: 10px 20px;
}

h1{
    font-size: 8vw;
    color:aliceblue;
}

.home_panel{
    padding: 1rem;
    margin: auto;
    font-weight:400;
    font-size: 1.5rem;
    width: auto;
    text-align:left;
    align-self: center;
    align-items: center;
    border-radius: 1rem;
}

.home_panel p{
    font-family: Courier New;
}

.dashboard_panel {
    position: relative;
    display: block;
    align-self: center;
    align-items: center;
    min-height: 80vh;
    padding: 1rem;
    border-radius: 1rem;
}

#root, body, head{
    background-color:rgb(28, 28, 28)!important;
}

.container-fluid {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(22, 22, 22, 0.733)!important;
}

nav{
    background: linear-gradient(160deg, rgb(0, 0, 0), rgb(95, 95, 95));
}

.navbar{
    padding: 0!important;
    margin: 0!important;
}

.navbar li{
    padding: 0vw 1vw;
    font-size: 1.4rem;
}

.navbar .nav-item a{
    font-family: Courier New;
}

.navbar li a:hover{
    color:rgb(155, 155, 155)!important;
}

.navbar a:hover{
    color:rgb(155, 155, 155)!important;
    
}
.navbar-brand{
    font-size:3rem;
    padding:1vw;
}

.navbar-toggler{
    background-color: rgba(133, 133, 133, 0)!important;
    width: 15%;
}

#logout{
    position: absolute;
    right: 0.5%;
}

#logout a{
    color: rgb(255, 166, 166)!important;
}

p, a, h1, h2, h3{
    color:white!important;
    font-family: Courier New;
}

h1, h2, h3{
    text-shadow: 0.2rem 0.2rem 0.1rem #000000;
}

.container.mt-5 h1{
    font-weight: 800;
    font-size: 4rem;
    word-wrap: break-word;
}


/*
DROPDOWN
*/

a.dropdown-item{
    font-size: 1.3rem;
    font-family: Courier New;
    min-height: 2.4rem;
    padding: 0;
    width: 13vw;
}

.dropdown-item button{
    position: relative!important;
    display: inline-block!important;
    height: 100%!important;
    width: 100%!important;
    margin: 0 !important;
    padding: 0 !important;
}

.dropdown.storebutton{
    position: absolute;
    width: 100%;
    margin: auto;
    padding: auto;
    top: 84%;
    left: 2%;
}

.dropdown.storebutton button{
    display:inline-block;
    margin:8%;
    position: absolute;
}

div.dropdown-menu.show{
    background-color:rgb(24, 24, 24)
}


.dropdown.cartbutton{
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
}

/* the little pen button in the Cart Page */
.dropdown.cartbutton button{
    display:inline-block;
    margin: 1rem 0;
    background-color: rgb(63, 63, 63)!important;
    padding: 0.5rem 2rem;
    border-width: 0.1rem;
}

/* 
========================
      BUTTON - REMOVE FROM CART
========================
*/


.remove-from-cart-button {
    line-height: 2.5rem;
    text-align: center;
    cursor: pointer;
    color: #FFF;
    background-color:rgb(15, 15, 15);
}



.form-label{
    color: white;
}

.dashboard_panel .user_data_item{
    font-family: Courier New;
    font-size: 1.5vw;
    display:block;
    color:white;
    padding: 2rem;
    background: linear-gradient(160deg, rgba(0, 0, 0, 0.822), rgba(51, 51, 51, 0.747));
    backdrop-filter: blur(10px);
    margin: 1rem;
    border-radius: 0.5rem;
    box-shadow:rgb(15, 15, 15) 0.5rem 0.5rem 0.5rem;
}

.home_panel .info-item, .dashboard_panel .info-item{
    display:block;
    color:white;
    padding: 2rem;
    background: linear-gradient(160deg, rgba(0, 0, 0, 0.822), rgba(51, 51, 51, 0.747));
    backdrop-filter: blur(10px);
    margin: 1rem;
    margin-bottom: 3rem;
    border-radius: 0.5rem;
    box-shadow:rgb(15, 15, 15) 0.5rem 0.5rem 0.5rem;
    word-wrap: break-word;
}
.home_panel .info-item p, .dashboard_panel .info-item p{
    font-family: Courier New;
    font-size: 1.3rem;
    margin: 0;
    line-height: 1.3rem;
}


.shop_item {
    font-family: Courier New;
    font-size: 1rem;
    display: inline-block;
    color: white;
    padding: 1rem;
    background: linear-gradient(160deg, rgba(0, 0, 0, 0.932), rgba(41, 41, 41, 0.979));
    /* backdrop-filter: blur(10px); */
    /* REMOVED because blur causes dropdown menus to not appear in front of other
    elements!!! */
    margin: 2% 1%;
    border-radius: 0.5rem;
    min-height: 60vh;
    width: 30%;
    vertical-align: top;
    position: relative;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.shop_item p {
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

.shop_item h2{
    font-family: Courier New;
    font-weight: 600;
}

/* Add to Cart Button in Shop */
.shop_item button {
    font-size: 1.5rem;
    padding: 0;
    margin: 5% 1rem 1rem 5%;
    border-radius: 0.2rem;
    width: 80%;
    bottom: 0;
    vertical-align: bottom;
    position: absolute;
}

/* Size Dropdown Menu in Shop */
.shop_item button.btn.btn-secondary.dropdown-toggle {
    font-size: 1.5rem;
    margin: 15% 0 0 1%;
    border-radius: 0.2rem;
    width: 100%;
    position: relative;
}

#dropdown-basic{
    background-color:rgb(15, 15, 15);
    border-color: white;
}

.shop_item img{
    width:100%;
    max-height: 260px;
    border-radius: 0.5rem;
    display:block;
    object-fit: contain;
}



/* CART ITEMS */

.email_display{
    background: linear-gradient(160deg, rgb(41, 41, 41), rgba(0, 0, 0, 0.932));
    width: 50%;
    display: block;
    margin: 0;
    margin-bottom: 0.75rem;
    word-wrap: break-word;
    border-radius: 0.25rem;
    text-align: center;
}

.cart_item {
    width: 50%;
    border:rgb(255, 255, 255);
    border-radius: 1rem;
    background: linear-gradient(160deg, rgba(0, 0, 0, 0.932), rgba(41, 41, 41, 0.849));
    padding: 1.5rem 1rem;
    margin: 1rem;
    box-shadow:rgb(15, 15, 15) 0.5rem 0.5rem 0.5rem;
    display: block;
    position: relative;
}
.cart_item img{
    width:35%;
    max-height: 170px;
    border-radius: 0.5rem;
    display:block;
    object-fit: contain;
    float: left;
    padding: 1rem;
}

.cart_item p{
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
    padding: 0;
}

.cart_item h2{
    font-size: 1.5rem;
    padding: 0;
    margin: 2rem;
    padding: 0;
}

#dropdown-basic-cart{
    border:rgb(15, 15, 15);
}

.checkout-button{
    display: inline-block;
    width: 50%;
    /* Additional styles to make it look like a button */
    padding: 10px;
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem auto;
    background: linear-gradient(45deg, #009245, #a4e786);
    background-size: 200% 200%;
    border: 2px solid #008000;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    transition: background-position 0.5s, color 0.25s;
    position: relative;
    box-shadow:rgb(15, 15, 15) 0.5rem 0.5rem 0.5rem;
}

.checkout-button-top{
    display: inline-block;
    width: 50%;
    /* Additional styles to make it look like a button */
    padding: 10px;
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem auto;
    background: linear-gradient(45deg, #009245, #a4e786);
    background-size: 200% 200%;
    border: 2px solid #008000;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    transition: background-position 0.5s, color 0.25s;
    position: relative;
    overflow: hidden;
    box-shadow:rgb(15, 15, 15) 0.5rem 0.5rem 0.5rem;
}

.checkout-button-top:before, .checkout-button:before {
    content: "";
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5));
    background-size: 200% 200%;
    transition: background-position 1s;
    overflow: hidden;
}

.checkout-button-top:hover, .checkout-button:hover {
    background-position: -100% -100%;
    color: #000;
    overflow: hidden;
}


.checkout-button-top:hover:before, .checkout-button:hover:before {
    background-position: 100% 100%;
}

/* bottom */
.total-price {
    display: block;
    font-family: Courier New;
    text-align: center;
    padding: 10px 20px;
    width: 50%;
    background: linear-gradient(160deg, rgba(0, 0, 0, 0.932), rgba(41, 41, 41, 0.849));
    /* backdrop-filter: blur(10px); */
    /* REMOVED because blur causes dropdown menus to not appear in front of other
    elements!!! */
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    line-height: 3rem;
    min-height: 3rem;
    text-decoration: none;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    transition: background 0.5s, color 0.5s;
    box-shadow:rgb(15, 15, 15) 0.5rem 0.5rem 0.5rem;
}

@keyframes gradient {
    0% { background-position: 100% 0%; }
    100% { background-position: 0% 100%; }
}

.total-price.top{
    font-size: 2rem;
    top: 14rem;
    left: 18rem;
    padding: 0;
    margin: 0 2rem 0 0;
    line-height: 3rem;
    min-height: 3rem;
    background-color: transparent;
    box-shadow: none;
    text-align: center;
    width: 50%;
    position: absolute;
    color: white;
}

.shop_item .store-price{
    margin-bottom: 100px;
    margin-top: 30px;
    font-size: 2rem;
    vertical-align: bottom;
    text-align: center;
    bottom: -7%;
    left: 0%;
    width: 100%;
    position: absolute;
}

/*
    Misc
*/

#dev-help-link{
    color:rgb(95, 255, 95)!important;
}

#order-success{
    color:rgb(95, 255, 95)!important;
}

#green-highlight{
    display: inline;
    color:rgb(95, 255, 95)!important;
}

.info-item-link{
    text-decoration: underline;
}


/*
========================
    Toast Notifications
========================
*/

.toast-success {
    visibility: hidden;
    width: 100%;
    max-width: 550px;
    background: #1a1a1a;
    color: white;
    border: 2px solid #68fa43;
    border-radius: 5px;
    padding: 15px;
    font-weight: bold;
    font-size: 1.6rem;
    text-align: center;


    position: fixed!important;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 30px;
    z-index: 9999;

}

.toast-success.show{
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
    position: fixed!important;
}

.toast-error {
    visibility: hidden;
    width: 100%;
    max-width: 550px;
    background: #361e1e;
    border: 2px solid #ff0000;
    border-radius: 5px;
    padding: 15px;
    font-weight: bold;
    font-size: 1.6rem;
    color: white;
    text-align: center;


    position: fixed!important;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 30px;
    z-index: 9999;

}

.toast-error.show{
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
    animation: fadein 0.5s, fadeout 0.5s 3.5s;
}

@keyframes fadein{
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeout{
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(20px);
        opacity: 0;
    }
}


/* 
========================
      BUTTON ONE (Add to Cart)
========================
*/

.btn {
    line-height: 80px;
    text-align: center;
    cursor: pointer;
  }

.btn-one {
    color: white;
    transition: all 0.3s;
    position: relative;
    
  }
  .btn-one span {
    transition: all 0.3s;
    
  }

  /* before hovering */
  .btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255,255,255,0.5);
    border-bottom-color: rgba(255,255,255,0.5);
    color: white;
    transform: scale(0.1, 1);
    z-index: 1;
  }

  .btn-one-text {
    z-index: 2; /* This places the button text above the overlay text */
    position: absolute;
    color: white;
    opacity: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }

  .btn-one:hover span {
    letter-spacing: 2px;
  }
  .btn-one:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
  }
  .btn-one::after {
    content: 'Add To Cart';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
    background-color: rgba(131, 131, 131, 0.308);
    color: #ffffff;
    border-radius: 0.5rem;
  }
  .btn-one:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
  }










/* 
========================
    RESPONSIVE DESIGN
========================
*/


@media (max-width: 991px){

    #root
    {
    background-image:url('../../assets/collage.png');
    background-repeat: repeat;
    background-size: 200%;
    background-position: center top;
    min-height: 100vh;
    }



    nav.navbar.navbar-expand-lg.bg-dark{
        max-width: 100vw;
    }

    .navbar-toggler{
        margin: 1rem;
        background-color: rgba(0, 0, 0, 0);
    }

    .navbar-toggler svg{
        width: 2rem;
    }

    ul.navbar-nav li.nav-item a{
        font-size: 2rem;
        margin-left: 10%;
        line-height: 2.5rem;
    }

    #logout{
        position: relative;
    }

    .container.mt-5 h1 {
        text-align: center;
        font-weight: 800;
        font-size: 2.5rem;
    }

    .shop_item {
        min-height:35rem;
        width: 90%;
        display: block;
        margin: 1rem auto 1rem auto;
    }

    .shop_item img {
        max-width: 100%;
        height: 10rem;
        display: block;
        top: 30%;
        left: 0%;
    }

    .shop_item #dropdown-basic{
        font-size: 1.5rem;
        padding: 0;
        margin: 1.75rem;
        border-radius: 0.2rem;
        width: 80%;
        bottom: 2rem;
        vertical-align: bottom;
        position: absolute;
    }

    .shop_item .store-price{
        font-size: 2rem;
        vertical-align: bottom;
        text-align: center;
        bottom: -3%;
        left: 0%;
        width: 100%;
        position: absolute;
    }


    /* add to cart button */
    .btn.btn-one{
        position: absolute;
        bottom: 0rem;
        width: 70%;
        min-height: 3rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .dashboard_panel{
        max-width: 98vw;
        margin: 0;
        padding: 1rem;
        border-radius: 1rem;
    }

    .home_panel{
        width: 95vw;
        margin: auto;
        padding: 0;
        font-size: 5vw;
    }

    .container.mt-5{
        max-width: 100vw;
        margin: auto;
        padding: 0;

    }

    .nav-link{
        font-size: 4vh;
    }

    button.navbar-toggler{
        background-color: rgba(255, 255, 255, 0);
    }

    a.dropdown-item{
        width: 68vw;
    }

    /* SHOPPING CART */

    .total-price{
        display:block;
        width: 75%;
        margin: 1rem auto;
        min-height: 4rem;
    }

    .checkout-button-top{
        display: block;
        width: 75%;
        /* Additional styles to make it look like a button */
        padding: 10px;
        background-color: #171d68;
        text-align: center;
        text-decoration: none;
        color: black;
        margin: 0 auto;
    }

    .checkout-button{
        display: block;
        width: 75%;
        /* Additional styles to make it look like a button */
        padding: 10px;
        background-color: #171d68;
        text-align: center;
        text-decoration: none;
        color: black;
        margin: 0 auto;
        margin-bottom: 2rem;

    }

    .checkout-button::hover, .checkout-button-top::hover{
        background-color: #080a2b;
        color: white;
    }

    .email_display{
        background: linear-gradient(160deg, rgb(41, 41, 41), rgba(0, 0, 0, 0.932));

        width: 75%;
        display: block;
        
        margin: auto;
        word-wrap: break-word;
        border-radius: 0.25rem;
        text-align: center;
    }


    .cart_item{
        width: 100%;
        margin: 1rem auto;
        padding: 0.5rem 1rem;
        padding-bottom: 2rem;

    }

    .dashboard_panel .user_data_item{
        font-size: 1.5rem;
        word-wrap: break-word;
    }

    .dashboard_panel .info-item{
        font-size: 1.5rem;
        word-wrap: break-word;
        min-height: 15rem;
    }

    .dashboard_panel .info-item p{
        font-size: 1.5rem;
        word-wrap: break-word;
        line-height: 2rem;
    }

    




}

/* 
========================
    END
========================
*/

